 <!-- drawer component -->
<div class="columns-2">

  <!-- Menu desplegable -->
  <div id="drawer-navigation"
    class="fixed top-0 left-0 z-40 w-60 h-full p-4 overflow-y-auto overflow-x-clip transition-transform duration-300 -translate-x-full bg-gradient-to-b from-blue-800 to-blue-700 dark:bg-gray-800"
    tabindex="-1" aria-labelledby="drawer-navigation-label">
    <fa-icon icon="bars" class="text-white  text-lg -ml-3 -mt-3 flex" type="button"
    data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation"></fa-icon>
    <img src="../../assets/images/vLogotipo_Blanco.png" class="w-[200px] py-2.5 mt-[-50px]" />
    <div class="-mt-3 overflow-y-auto overflow-x-clip">
      <ul class="space-y-2 font-medium">
        <li>
          <a [routerLink]="['/master/saldo']" routerLinkActive="router-link-active" class="a-text" data-drawer-hide="drawer-navigation">
            <fa-icon icon="dollar-sign">&nbsp; &nbsp;</fa-icon>
            <span class="ms-2">Consultar Saldo</span>
          </a>
        </li>
        <li>
          <a class="a-text">
            <fa-icon icon="qrcode">&nbsp;&nbsp;</fa-icon>
            <span class="flex-1 ms-2 whitespace-nowrap">Generar QR</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/master/invoices']" routerLinkActive="router-link-active" class="a-text" data-drawer-hide="drawer-navigation">
            <fa-icon icon="file-invoice-dollar">&nbsp;&nbsp;</fa-icon>
            <span class="flex-1 ms-2 whitespace-nowrap">Facturas Anticipo</span>
          </a>
        </li>
        <li>

          <a type="button" class="a-text" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
            <fa-icon icon="comment-alt">&nbsp;&nbsp;</fa-icon>
            <span class="flex-1 ms-2 whitespace-nowrap">Contáctanos</span>
            <fa-icon icon="angle-down" class=""></fa-icon>
          </a>
          <ul id="dropdown-example" class="hidden py-2 space-y-2">
            <li>
              <a class="flex items-center p-1 pl-4 ml-10 text-white rounded-md hover:bg-blue-700">
                Opcion 1
              </a>
            </li>
            <li>
              <a class="flex items-center p-1 pl-4 ml-10 text-white rounded-md hover:bg-blue-700">
                Opcion 2
              </a>
            </li>
          </ul>

          <!-- <a class="a-text">
            <fa-icon icon="comment-alt">&nbsp;&nbsp;</fa-icon>
            <span class="flex-1 ms-2 whitespace-nowrap">Contáctanos</span>
          </a> -->
        </li>
        <li>
          <a class="a-text">
            <fa-icon icon="unlock">&nbsp;&nbsp;</fa-icon>
            <span class="flex-1 ms-2 whitespace-nowrap">Cambiar Contraseña</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="a-text" data-drawer-hide="drawer-navigation">
            <fa-icon icon="power-off">&nbsp;&nbsp;</fa-icon>
            <span class="flex-1 ms-2 whitespace-nowrap">Salir</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Mini Menu -->
  <div  class="fixed h-full px-2 bg-gradient-to-b from-blue-800 to-blue-700 grid-cols-2">
    <div  class="p-1 mt-2">
      <fa-icon icon="bars" class="text-white text-lg flex "
      type="button" data-drawer-target="drawer-navigation" data-drawer-show="drawer-navigation"
      aria-controls="drawer-navigation"></fa-icon>
    </div>

    <div class="mt-4 grid grid-rows-6 gap-3">
      <div class="p-1 hover:bg-blue-700 rounded-lg">
        <a [routerLink]="['/master/saldo']" routerLinkActive="router-link-active">
          <fa-icon icon="dollar-sign" class="ml-[2px] text-white text-lg flex"></fa-icon>
        </a>
      </div>

      <div class="p-1 hover:bg-blue-700 rounded-lg">
        <a>
          <fa-icon icon="qrcode" class="mt-[2px] text-white text-lg flex"></fa-icon>
        </a>
      </div>

      <div class="p-1 hover:bg-blue-700 rounded-lg">
        <a [routerLink]="['/master/invoices']" routerLinkActive="router-link-active">
          <fa-icon icon="file-invoice-dollar" class="mt-[2px] text-white text-lg flex"></fa-icon>
        </a>
      </div>

      <div class="p-1 hover:bg-blue-700 rounded-lg">
        <a>
          <fa-icon icon="comment-alt" class="mt-[4px] text-white text-lg flex"></fa-icon>
        </a>
      </div>

      <div class="p-1 hover:bg-blue-700 rounded-lg">
        <a>
          <fa-icon icon="unlock" class="text-white text-lg flex"></fa-icon>
        </a>
      </div>

      <div class="p-1 hover:bg-blue-700 rounded-lg">
        <a [routerLink]="['/login']" routerLinkActive="router-link-active">
          <fa-icon icon="power-off" class="mt-[2px] text-white text-lg flex"></fa-icon>
        </a>
      </div>
    </div>

  </div>
</div>
