
<nav class="sidebar">
  <div style="height:10px;"></div>
  <div id="div_logo" class="text">
      <div style="height: 50px;text-align: center;">
          <img id="menu_logo" src="../../assets/images/vLogotipo_Blanco.png" class="menu_logo" style="margin-top: -50px;width:200px;" />
      </div>
      <div style="height:20px;"></div>
  </div>
  <ul id="uls">
      <li>
          <a href="" target="content-frame" style="text-decoration:none;" id="Saldo" onclick="AddMainTitle('Consultar Saldo')">
              <i class="fas fa-dollar-sign icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>Consultar Saldo
              <span class="fas fa-arrow-caret-down payments_first"></span>
          </a>
      </li>
      <li>
          <a href="" target="content-frame" class="payments_btn menu" style="text-decoration:none;" id="GenerarQR">
              <i class="fas fa-qrcode icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>Generar QR
              <span class="fas fa-arrow-caret-down payments_first"></span>
          </a>
      </li>
      <li>
          <a href="" target="content-frame" style="text-decoration:none;" id="menuReportes">
              <i class="fas fa-file-invoice-dollar icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>Facturas Anticipo
              <span class="fas fa-arrow-caret-down payments_first"></span>
          </a>
      </li>
      <li>
          <a href="" target="content-frame" class="comments_btn menu" style="text-decoration:none;">
              <i class="fas fa-comment-alt">&nbsp;&nbsp;</i>Contáctanos
              <span class="fas fa-arrow-caret-down payments_first"></span>
          </a>
      </li>
      <li>
          <a href="" target="content-frame" style="text-decoration:none;" >
              <i class="fas fa-unlock icon">&nbsp;&nbsp;&nbsp;&nbsp;</i>Cambiar Contraseña
              <span class="fas fa-arrow-caret-down client_first"><i class="fas fa-angle-down"></i></span>
          </a>
      </li>
      <li>
          <a href="" class="logout_btn menu" style="text-decoration:none;">
              <i class="fas fa-power-off icon">&nbsp;&nbsp;&nbsp;</i>Salir
              <span class="fas fa-arrow-caret-down payments_first"></span>
          </a>
      </li>
  </ul>
</nav>


