/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";


body {
    margin: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-y: hidden;
  }
  
  .template {
    margin: auto;
    display: flex;
  }
  
  .container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10%;
    border: none;
  }
  
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .textbox_form {
    vertical-align: middle;
    width: 100%;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 3px;
    border: 1px solid #b5b5b5;
    outline: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
  }
  
  .button_form {
    max-width: 100%;
    width: 100%;
    background: #0946c3;
    color: #f9f9f9;
    border: none;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    outline: none;
  }
